
.icon-arrow-circle-o-down {
	background-image: url('png/arrow-circle-o-down.png');
	background-repeat: no-repeat;
}

.icon-arrow-circle-o-up {
	background-image: url('png/arrow-circle-o-up.png');
	background-repeat: no-repeat;
}

.icon-arrows-h {
	background-image: url('png/arrows-h.png');
	background-repeat: no-repeat;
}

.icon-arrows-v {
	background-image: url('png/arrows-v.png');
	background-repeat: no-repeat;
}

.icon-check-circle-o {
	background-image: url('png/check-circle-o.png');
	background-repeat: no-repeat;
}

.icon-check-circle {
	background-image: url('png/check-circle.png');
	background-repeat: no-repeat;
}

.icon-check-square-o {
	background-image: url('png/check-square-o.png');
	background-repeat: no-repeat;
}

.icon-check {
	background-image: url('png/check.png');
	background-repeat: no-repeat;
}

.icon-circle-o-notch {
	background-image: url('png/circle-o-notch.png');
	background-repeat: no-repeat;
}

.icon-circle-thin {
	background-image: url('png/circle-thin.png');
	background-repeat: no-repeat;
}

.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
}

.icon-cog {
	background-image: url('png/cog.png');
	background-repeat: no-repeat;
}

.icon-cogs {
	background-image: url('png/cogs.png');
	background-repeat: no-repeat;
}

.icon-comment-o {
	background-image: url('png/comment-o.png');
	background-repeat: no-repeat;
}

.icon-comment-o2 {
	background-image: url('png/comment-o2.png');
	background-repeat: no-repeat;
}

.icon-comment {
	background-image: url('png/comment.png');
	background-repeat: no-repeat;
}

.icon-comments-o {
	background-image: url('png/comments-o.png');
	background-repeat: no-repeat;
}

.icon-comments {
	background-image: url('png/comments.png');
	background-repeat: no-repeat;
}

.icon-download {
	background-image: url('png/download.png');
	background-repeat: no-repeat;
}

.icon-edit {
	background-image: url('png/edit.png');
	background-repeat: no-repeat;
}

.icon-envelope-o {
	background-image: url('png/envelope-o.png');
	background-repeat: no-repeat;
}

.icon-envelope {
	background-image: url('png/envelope.png');
	background-repeat: no-repeat;
}

.icon-exchange {
	background-image: url('png/exchange.png');
	background-repeat: no-repeat;
}

.icon-exclamation-circle {
	background-image: url('png/exclamation-circle.png');
	background-repeat: no-repeat;
}

.icon-exclamation-triangle {
	background-image: url('png/exclamation-triangle.png');
	background-repeat: no-repeat;
}

.icon-eye {
	background-image: url('png/eye.png');
	background-repeat: no-repeat;
}

.icon-file-archive-o {
	background-image: url('png/file-archive-o.png');
	background-repeat: no-repeat;
}

.icon-file-audio-o {
	background-image: url('png/file-audio-o.png');
	background-repeat: no-repeat;
}

.icon-file-code-o {
	background-image: url('png/file-code-o.png');
	background-repeat: no-repeat;
}

.icon-file-excel-o {
	background-image: url('png/file-excel-o.png');
	background-repeat: no-repeat;
}

.icon-file-image-o {
	background-image: url('png/file-image-o.png');
	background-repeat: no-repeat;
}

.icon-file-movie-o {
	background-image: url('png/file-movie-o.png');
	background-repeat: no-repeat;
}

.icon-file-o {
	background-image: url('png/file-o.png');
	background-repeat: no-repeat;
}

.icon-file-pdf-o {
	background-image: url('png/file-pdf-o.png');
	background-repeat: no-repeat;
}

.icon-file-powerpoint-o {
	background-image: url('png/file-powerpoint-o.png');
	background-repeat: no-repeat;
}

.icon-file-text-o {
	background-image: url('png/file-text-o.png');
	background-repeat: no-repeat;
}

.icon-file-text {
	background-image: url('png/file-text.png');
	background-repeat: no-repeat;
}

.icon-file-word-o {
	background-image: url('png/file-word-o.png');
	background-repeat: no-repeat;
}

.icon-file {
	background-image: url('png/file.png');
	background-repeat: no-repeat;
}

.icon-folder-o {
	background-image: url('png/folder-o.png');
	background-repeat: no-repeat;
}

.icon-folder-open-o {
	background-image: url('png/folder-open-o.png');
	background-repeat: no-repeat;
}

.icon-folder-open {
	background-image: url('png/folder-open.png');
	background-repeat: no-repeat;
}

.icon-folder {
	background-image: url('png/folder.png');
	background-repeat: no-repeat;
}

.icon-info-circle {
	background-image: url('png/info-circle.png');
	background-repeat: no-repeat;
}

.icon-minus-circle {
	background-image: url('png/minus-circle.png');
	background-repeat: no-repeat;
}

.icon-plus-circle {
	background-image: url('png/plus-circle.png');
	background-repeat: no-repeat;
}

.icon-question-circle {
	background-image: url('png/question-circle.png');
	background-repeat: no-repeat;
}

.icon-random {
	background-image: url('png/random.png');
	background-repeat: no-repeat;
}

.icon-refresh {
	background-image: url('png/refresh.png');
	background-repeat: no-repeat;
}

.icon-repeat {
	background-image: url('png/repeat.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-search2 {
	background-image: url('png/search2.png');
	background-repeat: no-repeat;
}

.icon-sort {
	background-image: url('png/sort.png');
	background-repeat: no-repeat;
}

.icon-spinner {
	background-image: url('png/spinner.png');
	background-repeat: no-repeat;
}

.icon-th-list {
	background-image: url('png/th-list.png');
	background-repeat: no-repeat;
}

.icon-th {
	background-image: url('png/th.png');
	background-repeat: no-repeat;
}

.icon-times-circle-o {
	background-image: url('png/times-circle-o.png');
	background-repeat: no-repeat;
}

.icon-times-circle {
	background-image: url('png/times-circle.png');
	background-repeat: no-repeat;
}

.icon-trash-o {
	background-image: url('png/trash-o.png');
	background-repeat: no-repeat;
}

.icon-upload {
	background-image: url('png/upload.png');
	background-repeat: no-repeat;
}