//   Foundation parameters
$row-width: rem-calc(1080);
$column-gutter: rem-calc(0);
$total-columns: 9;
// layout of side-menu and page
#admin_container {
  @include grid-row();
  header {@include grid-column(1)}
  #page_container {
    @include grid-column(8);
    height: 100%;

    #content {
      @include grid-row();
      #flash_container { @include grid_column(9)}
      #records         { @include grid_column(6); }
      #actions         { @include grid_column(3); }
    }
  }
}
