
// NB: foundation also provides a mixin element-invisible which makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.hidden {
  display: none;
}

p {

}
html {
  height: 100%;
}
body {
  height: 100%;
  background: $body-bg;
}
acronym {
  cursor: help;
}
label[for] {
  cursor: pointer;
}
hr {

}

h1 {
  background: $header-bg;
}
header h1 {
  padding:20px;
}


//Index pages

#records {
  ul {
    li {
      span.actions {
        margin-right:20px;
        a {float:right}
      }
    }
  }
}
#actions {
  ul {
    list-style: none;
    margin-left: 0;
    margin-right:10px;

    &#current_locale {}
    li {
      @include button($padding: 0.5rem, $bg: $info-color, $full-width: true);
      margin-bottom:10px;
      text-align: left;

      a {
        margin-left: 10px;
      }
    }
  }
}

//Search form

form.search_form {

  @include grid-row();
  input#search { @include grid-column($columns:7); margin-bottom:0; }
  input[type='submit'] {
    @include prefix-postfix-base();
    @include grid-column($columns:2, $float:left);
    margin-bottom: 0;
  }
}